/* container */
.container-login {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-content: space-around;
    width: fit-content;
    
}

.container-auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-left: 40rem;
    margin-right: 40rem; */
    margin: 0 auto;
    width: 20rem;
    /* margin-top: 5rem;     */
}

.tabs{
    display: flex;
    flex: auto;
    justify-content: space-evenly;
}

/* inputboxes */
.username {
    margin: 0rem 17.2rem 0.3rem 0rem !important;
}

.password {
    margin: 1rem 15.5rem 0.3rem 0rem !important;
}

.user-input{
    height: 1.8rem !important;

}

.password-input{
    height: 1.8rem !important;
}


/* button */
.submit-button{
    margin-top: 2rem;
    height: 2rem;
    color: white;
    width: 100%;
    background-color: #ff0066;
    border-radius: .3rem;
    border-color: #ff0066;
    font-weight: bold;
    
}

/* chekckbox */
.remindme{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 .5rem;
    font-size: .79rem;

}

h5 {
    display: flex;
    flex-direction: row;
    
  }
  h5:before, h5:after{
    content: "";
    flex: .06 .1;
    border-bottom: 1px solid;
    margin: auto;
  }
  h5:before {
    margin-right: 10px
  }
  h5:after {
    margin-left: 10px
  }